@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

@font-face {
  font-family: "Founders Grotesk Light";
  src: url("../fonts/founders-grotesk/FoundersGrotesk-Light.otf"); }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/founders-grotesk/FoundersGrotesk-Regular.otf"); }

@font-face {
  font-family: "Integral Regular";
  src: url("../fonts/integral-cf/IntegralCF-Regular.otf"); }

@font-face {
  font-family: "Ogg Roman";
  src: url("../fonts/ogg/Ogg Roman.ttf"); }

* {
  box-sizing: border-box; }

html,
body {
  overflow-x: hidden;
  min-height: 100%;
  font-family: "Founders Grotesk", sans-serif;
  margin: 0;
  background-color: #1d3557;
  color: #f1faee; }

.hero {
  min-height: 75vh;
  margin: 0;
  padding: 40px;
  font-size: 95px;
  line-height: 1;
  color: #f1faee;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .hero .title {
    font-family: "Integral Regular"; }
  .hero .timeline {
    font-family: "Ogg Roman"; }

.project {
  display: block;
  position: relative;
  width: 100%;
  border-top: 1px solid #ebebeb; }
  .project .arrow {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) rotate(0); }
  .project-heading {
    position: relative;
    width: 100%;
    padding: 40px 40px 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    background-color: #457b9d; }
    .project-heading:before {
      content: "";
      background-color: #fff;
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: width 0.3s; }
    .red .project-heading:before {
      background-color: #c52e28; }
    .project-heading .serial {
      margin: 0 100px 0 0;
      position: relative;
      left: -4px;
      font-family: "Founders Grotesk Light";
      font-size: 25px;
      width: min-content;
      overflow-wrap: break-word;
      letter-spacing: 0px;
      line-height: 1;
      color: #f1faee;
      text-transform: uppercase;
      opacity: 1;
      transition: transform 0.3s ease; }
    .project-heading .title {
      position: relative;
      margin: 0;
      font-family: "Founders Grotesk Light";
      font-size: 65px;
      letter-spacing: 0px;
      line-height: 1;
      color: #f1faee;
      text-transform: uppercase;
      opacity: 1;
      transition: transform 0.3s ease; }
    .project-heading .arrow {
      position: absolute;
      top: 47%;
      right: 40px;
      margin: -16px 0 0;
      width: 41px;
      will-change: transform;
      transform: translateZ(0) rotate(0);
      transform-origin: 50% 51%;
      backface-visibility: hidden;
      transition: transform 0.3s ease; }
  .project-marquee {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding: 20px 0 16px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background-color: #457b9d; }
    .project-marquee:before {
      content: "";
      background-color: #fff;
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: width 0.3s; }
    .red .project-marquee:before {
      background-color: #c52e28; }
    .project-marquee div {
      display: inline-block;
      padding-left: 100%;
      will-change: transform;
      animation: marquee 20s linear infinite; }
    .project-marquee .text-container {
      position: relative;
      margin: 0 20px;
      font-family: "Founders Grotesk";
      color: #f1faee;
      line-height: 1;
      white-space: nowrap;
      font-size: 16px; }
      .project-marquee .text-container .text-bold {
        font-weight: bold; }
      .project-marquee .text-container .text-divider {
        padding-left: 5px; }
        .project-marquee .text-container .text-divider:before {
          content: "•"; }
  .project-carousel {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-height: 328px;
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
    .project-carousel .track {
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 32s linear infinite; }
    .project-carousel .img {
      margin: 0 1px; }
  .project .link {
    text-decoration: none; }
    .project .link:hover .project-heading:before {
      width: 100%; }
    .project .link:hover .project-heading .serial {
      transform: translateX(15px); }
    .project .link:hover .project-heading .title {
      transform: translateX(15px); }
    .project .link:hover .project-marquee:before {
      width: 100%; }
    .project .link:hover .arrow {
      position: absolute;
      top: 47%;
      right: 40px;
      margin: -16px 0 0;
      width: 41px;
      will-change: transform;
      transform-origin: 50% 51%;
      backface-visibility: hidden;
      transform: rotate(45deg); }

.experience {
  display: flex;
  flex-direction: column; }
  .experience-heading {
    font-family: "Integral Regular";
    font-size: 35px;
    padding: 40px;
    line-height: 1;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
  .experience-row {
    font-family: "Founders Grotesk Light";
    font-size: 65px;
    padding: 30px 40px 15px;
    line-height: 1;
    display: flex;
    border-bottom: 1px solid #ebebeb;
    color: inherit;
    text-decoration: none; }
    .experience-row .time {
      flex: 1; }
    .experience-row .name {
      flex: 1; }

.footer {
  margin-top: 15rem;
  display: flex;
  border-top: 1px solid #ebebeb; }
  .footer .logo {
    padding: 30px 40px; }
  .footer .about {
    font-family: "Founders Grotesk Light";
    padding: 30px 40px 15px;
    font-size: 55px;
    line-height: 1;
    flex: 1;
    display: flex;
    align-items: center;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    color: inherit;
    text-decoration: none; }
  .footer .contact {
    font-family: "Founders Grotesk Light";
    padding: 30px 40px 15px;
    font-size: 55px;
    line-height: 1;
    flex: 1;
    display: flex;
    align-items: center;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    color: inherit;
    text-decoration: none; }
  .footer .scroll-top {
    padding: 30px 40px;
    display: flex;
    align-items: center; }
    .footer .scroll-top .arrow-top {
      width: 41px;
      backface-visibility: hidden;
      transform: rotate(-45deg); }

@keyframes marquee {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-50%); } }

@keyframes swipe {
  to {
    width: 100%; } }
